<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
</head>
<body>
	<div>
		Hi <b th:text="${user.firstName} + ' ' + ${user.lastName}"></b>!
	</div>
	<div>
		Your username is <b th:text="${user.username}"></b>
	</div>
	<div>
		<p>Click the following link to reset your User Manager password:</p>
		<!-- Builds: http://localhost:5173/user/resetPassword?token=<jwt> -->
		<p th:text="${client} + '/' + ${param} + '?token=' + ${token}"></p>
		<p>This link is valid for 10 minutes.</p>
		<p>If you did not request a password reset, you can safely ignore
			this email.</p>
		<p>
			Need help? Contact us Monday–Friday, 8:30am–5pm Eastern:<br />
			Toll-free: 1-800-222-1111
		</p>
	</div>
</body>
</html>